<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojo.mapper.AtouCourseMapper">
  <resultMap id="BaseResultMap" type="com.jojo.model.AtouCourse">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  
  <select id="selectByUserId" resultMap="BaseResultMap">
	SELECT * FROM atou_course WHERE course_id IN (SELECT course_id FROM atou_user_course WHERE user_id = #{userId})
</select>
</mapper>