<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojo.mapper.AtouStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.jojo.model.AtouStatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="total_time" jdbcType="BIGINT" property="totalTime" />
    <result column="total_click" jdbcType="INTEGER" property="totalClick" />
  </resultMap>
</mapper>